$color-poppy: #DB3A34;
$color-sunglow: #FFD23F;
$color-honeydew: #F3FCF0;
$color-text-stroke: #000;
$font-main: "Lilita One";
$font-secondary: "Josefin Sans";

@mixin font-main($size, $weight: 400, $line-height: normal) {
    font-family: $font-main;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

#registro {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    text-align: center;
}

#img img {
    width: 250px;
    height: auto;
}

.restaurant-names {
    display: flex;
    font-weight: bold;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    @include font-main(40px);

    #mandingas{
        
        color: $color-poppy;
        text-align: center;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $color-text-stroke;
        margin: 0;
    }

    #salchipaperia {
        color: $color-sunglow;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $color-text-stroke;
        margin: 0;
    }
}
    
#ponlenombre {
    font-family: $font-secondary;
    font-size: 30px;
    font-weight: 700;
    color: $color-poppy;
    text-align: center;
    margin: 79px 0 20px 0;
}

#nombre_salchipaperia {
    display: flex;
    width: 317px;
    height: 20px;
    padding: 10px 7px;
    align-items: center;
    border: 1px solid $color-poppy;
    border-radius: 10px;
    margin: 0 auto 155px;
    @include font-main(20px);
}

#btn_continuar {
    padding: 10px 20px;
    background: linear-gradient(180deg, #FFD23F 0%, #CD3A35 100%);
    border-radius: 20px;
    color: $color-honeydew;
    font-size: 1em;
    border: none;
    width: 214px;
    height: 48px;
    text-align: center;
    @include font-main(29px);
}