#tienda{
  
}
#tienda h1{
    font-family: $font-header;
    color: $color-poppy;
}

#tienda .navbar{
    background-color: $color-sunglow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
        
    .nav-icon {
      height: 3.2vh;
      cursor: pointer;
    }
}

#tienda .upgrades{
  padding: 20px; // Espacio alrededor de los botones dentro de la sección
    display: flex;
    flex-wrap: wrap; // Permite que los botones se ajusten si es necesario
    justify-content: center; // Centra los botones en el contenedor
    gap: 10px; //
}

#tienda button{
  text-align: center; 
  background-color: $color-poppy; 
  font-family: $font-body;
  color: $color-honeydew; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  width: 360px;
  
  /* Usar flexbox para centrar el contenido */
  display: flex; /* Activa flexbox en el botón */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  gap: 10px; /* Espacio entre la imagen y el texto */

  /* Asegurar que el texto y la imagen estén alineados correctamente */
  padding: 10px 20px; /* Añadir algo de padding si es necesario */
}

#tienda button:disabled {
  opacity: 0;
  cursor: not-allowed;
}

#tienda button img {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  margin-right: 10px;
  filter: none; /* Asegura que no se aplique ningún filtro de color */
}