#tutorial {
    .navbar {
      background-color: $color-sunglow; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1vh;
    
      .nav-icon {
        height: 3.2vh;
        cursor: pointer;
      }
    }
  
    .tutorial-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 10vh); 
    }
  
    .tutorial-box {
      background-color: $color-sunglow; // Define este color o utiliza un código hexadecimal
      width: 37vh;
      height: 88%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .tutorial-text {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.2rem;
      color: black;
      text-align: center;
      line-height: 1.6;
      overflow-y: auto;
      max-height: 90%;
      padding: 0.4rem;
    }
  
    .tutorial-button {
      font-family: 'Lilita One', sans-serif;
      font-size: 1.9rem;
      color: white;
      background: linear-gradient(to bottom, #CD3A35, $color-black-olive);
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  