// splash.scss

#splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-honeydew);
    text-align: center;
  
    h1 {
      font-family: $font-header;
      font-size: calc(var(--font-size-large) * 1.5);
      color: var(--color-teal);
      margin-bottom: var(--spacing-large);
    }
  
    button {
      font-family: $font-body;
      background-color: var(--color-poppy);
      color: var(--color-honeydew);
      font-size: var(--font-size-large);
      padding: var(--spacing-small) var(--spacing-medium);
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  