// splash.scss

#splash {
    
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    background-color: var(--color-honeydew);
    text-align: center;
    position: relative;
    overflow: hidden;
    h1 {
      font-family: $font-header;
      font-size: calc(var(--font-size-large) * 1.5);
      color: var(--color-teal);
      margin-bottom: var(--spacing-large);
    }
  
    button {
      font-family: $font-body;
      background-color: var(--color-poppy);
      color: var(--color-honeydew);
      font-size: var(--font-size-large);
      padding: var(--spacing-small) var(--spacing-medium);
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  